<template name="Header">
    <div class="navbar-fixed header-container">
        <nav>
          <div class="nav-wrapper">
            <div class="container">
              <div class="row">
                <div class="left">
                  <div class="col">
                    <a class="btn" href="/">Home</a>
                  </div>
                  <div class="col">
                    {{> Search}}
                  </div>
                </div>
                <div class="right">
                    <div class="col">
                      {{> Notifications}}
                    </div>
                    <div class="col">
                      <a class="btn" href="/users/{{currentUserId}}">Me</a>
                    </div>
                    <div class="col">
                      {{> atNavButton}}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
    </div>
</template>