<template name="Header">
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <div class="container">
              <div class="row">
                <div class="right">
                    <div class="col">
                      {{> Search}}
                    </div>
                    <div class="col">
                      {{> atNavButton}}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
    </div>
</template>