<template name="Notifications">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {{#if hasNotifications}}
            <i class="fa fa-bell"></i>
        {{else}}
            <i class="fa fa-bell-o"></i>
        {{/if}}
    </a>

    <ul class="dropdown-menu">
        {{#each notifications}}
            <li><a href="{{link}}"><p>{{text}}</p></a></li>
        {{else}}
            <p>You don't have any notifications yet.</p>
        {{/each}}
    </ul>
</template>