<template name="Notifications">
    {{#dropdownTrigger name="myNots" }}
        <button class="notifications-button">
            {{#if hasNotifications}}
                <i class="material-icons">notifications_active</i>
            {{else}}
                <i class="material-icons">notifications_none</i>
            {{/if}}
        </button>
    {{/dropdownTrigger}}

    {{#dropdown name="myNots"}}
        <div class="white z-depth-2 notifications-container">
            {{#each notifications}}
                <a href="{{link}}"><p>{{text}}</p></a>
                <div class="divider"></div>
            {{else}}
                <p>You don't have any notifications yet.</p>
                <div class="divider"></div>
            {{/each}}
        </div>
    {{/dropdown}}
</template>